@model BPS.Models.Engineer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        color: #fff;
        text-decoration: none;
    }


        a:hover {
            color: #fff;
        }
</style>
<h2>Details</h2>

<div>
    <h4>Engineer</h4>
	<hr />
    <dl class="dl-horizontal">

        <dt>
           Engineer Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engName)
        </dd>
     

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engEmail)
        </dd>

        <dt>
            Contact Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engContact)
        </dd>

        <dt>
           About
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engAbout)
        </dd>

        <dt>
           Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engAdress)
        </dd>

        <dt>
            Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engCountry)
        </dd>

        <dt>
            Gender
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engGender)
        </dd>

       
        <dt>
            Details
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engDetails)
        </dd>

        <dt>
            Profile
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engProfile)
        </dd>

        <dt>
           Experience
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engExperience)
        </dd>


    </dl>
    <div>
        
    </div>
    <button type="submit" class="btn btn-primary btn-submit">@Html.ActionLink("Request for Hire Engineer", "Hire", new { id=Model.id})</button>
</div>
<p>
@if (Session["username"] != null || (string)(Session["username"]) != "")
                    {
                        int UserRole = Convert.ToInt16(Session["UserRole"]);
                        if (UserRole == 1 )
                        {
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) 
                                                            
                        }
                        }
    @Html.ActionLink("Back to List", "Index")
</p>
