@model BPS.Models.Engineer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="row from-group">
            <h3 class="text-primary">Edit Engineer Information</h3>
        </div>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.engName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.engName, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.engName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.engEmail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.engEmail, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.engEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.engContact, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.engContact, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.engContact)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.engAbout, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.engAbout, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.engAbout)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.engAdress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.engAdress, new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.engAdress)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.engDetails, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.engDetails, new {@class="form-control" })
                @Html.ValidationMessageFor(model => model.engDetails)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
