@model IEnumerable<BPS.Models.Engineer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        color: #fff;
        text-decoration: none;
    }

 
     a:hover {
        color: #fff;
    }


</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "SaveEngInfo")
</p>


    @foreach (var item in Model)
    {
           
    <div class="linear-tiles-wrapper">
      <div class="blog-post">
        
        <h1>@Html.DisplayFor(modelItem => item.engName)</h1>
        <header>
                  <figure class="avatar"><img src="images/ashique.png" alt=""></figure>
                  <address>
                      @Html.DisplayFor(modelItem => item.engAdress) <a href="#">@Html.DisplayFor(m=>item.engEmail) </a>
                  </address>
                   <h3>@Html.DisplayFor(m => item.engExperience)</h3>
                   <i class="fa fa-phone" aria-hidden="true"><span>&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.engContact) &nbsp;&nbsp;&nbsp;</span></i>
         </header>
        
        <p style="text-align: justify;">@Html.DisplayFor(modelItem => item.engDetails)
<br>
            <button type="submit" class="btn btn-primary btn-submit btn-Expand">@Html.ActionLink("Expand Profile", "Details", new { id = item.id, @style = "color:#fff" }) </button>
                
            

</p>
<hr>
          
      </div>
@if (Session["username"] != null || (string)(Session["username"]) != "")
                    {
                        int UserRole = Convert.ToInt16(Session["UserRole"]);
                        if (UserRole == 1 )
                        {
        <button type="submit" class="btn btn-primary btn-submit btn-Expand">@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
         |</button>

        <button type="submit" class="btn btn-primary btn-submit btn-Expand">
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </button>
}
}
       
       
    
    </div>
}


