@model BRS.Models.UserLogin

@{
    //ViewBag.Title = "Login";
    //s = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
    
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/login.css" rel="stylesheet" />
<style>
    .hero-image {
        background-image: url("../Images/about-bg2.jpg");
        background-color: #cccccc;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .Login-image {
        background-image: url("../Images/images.jpg");
        background-color: #cccccc;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
</style>
<div class="hero-image">
    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "modal-content animate", role = "form" }))
{
    <fieldset class="Login-image">


        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }

        <div class="imgcontainer">
            <span onclick=" document.getElementById('id01').style.display = 'none' " class="close" title="close modal">&times;</span>
            <img src="../images/login.png" alt="Avatar" class="avatar">
        </div>
        <div class="container">


            @Html.LabelFor(a => a.userName, new { @class = "text-primary strong" })
            @Html.TextBoxFor(a => a.userName, new { @class = "textboxf" })
            <b>@Html.ValidationMessageFor(a => a.userName)</b><br />


            @Html.LabelFor(a => a.Password, new { @class = "text-primary strong" })

            @Html.PasswordFor(a => a.Password, new { @class = "textboxf" })

            <b>@Html.ValidationMessageFor(a => a.Password )</b>

            <button type="submit" class="login-btn btn ">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember" name=""> Remember me
            </label>

            <div class="container" style="background-color: #f1f1f1">
                <button type="button" onclick=" document.getElementById('id01').style.display = 'none' " class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">Password?</a></span>
            </div>

        </div>





    </fieldset>
}
</div>


