@model IEnumerable<BPS.Models.Job_Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/JobPost.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>





        @foreach (var item in Model)
        {
            
        <div class="row">
        <div class="col-sm-12">
            <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3 class="job-preview">@Html.DisplayFor(modelItem => item.Building_Name)</h3>
                <h4>
                    @Html.DisplayFor(modelItem => item.ServiceType.SerType)
                </h4>
                <hr>
                <p><span class="glyphicon glyphicon-map-marker">  &nbsp;@Html.DisplayFor(modelItem => item.Address)</span></p>
                <p><span class="glyphicon glyphicon-education"> &nbsp;Bachelor of Science (BSc) in Civil Engineering</span></p>
                <h5><span class="glyphicon glyphicon-briefcase"></span> &nbsp; &nbsp; &nbsp;1 to 3 year(s)  <p class="text-right"><span class="glyphicon glyphicon-calendar">&nbsp;Application Deadline: Feb 30, 2020</p></h5>
                <a href="#" class=""> @Html.ActionLink("View Job", "Details", new { id = item.id })</a>

            </div>
        </div>
            </div>
               
    

                    if (Session["username"] != null || (string)(Session["username"]) != "")
                    {
                        int UserRole = Convert.ToInt16(Session["UserRole"]);
                        if (UserRole == 1 || UserRole == 3)
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.id })
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        }
                    }


                    

        }
